<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Fund</h2>
                    <h3 class="section-subheading text-muted">
                      The Open Annotation standard promises to become a new layer over human knowledge.
                    <br /><br />
                    $50k annually has been contributed by Hypothes.is and other donors,
                    <br /> all as non-profit, charitable donations to make this a reality.
                  </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">The Need</h4>
                    <p class="text-muted text-left">
                    We must take annotation to the boundaries of the web.
                    It must be integrated with countless applications,
                    technologies, libraries, products, web sites and more.
                    </p>
                    <p class="text-muted text-left">
                    In many cases, the projects exist, and the developers are
                    eager to do the work, but schedules and the demands of
                    producing sustainable income prohibits focus on the effort.
                    What's needed is a relatively small amount of funding to
                    facilitate that focus.
                    </p>
                    <p class="text-muted text-left">
                    Grants as small as $2-10k can open up entirely new use
                    cases and integrations with important platforms and
                    libraries.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">The Solution</h4>
                    <p class="text-muted text-left">A grantmaking process that
                    would solicit and receive proposals to expand the existing
                    universe of open source software that implements or works
                    with the Open Annotation specification. Funds are
                    distributed as grants with only limited
                    obligations.
                    </p>
                    <p class="text-muted text-left">
                    Applications do not need to relate to any particular
                    annotation platform or technology, but only to generally
                    integrate or provide annotation functionality and be open
                    source in nature.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">The Grants</h4>
                    <p class="text-muted text-left">
                    Awards are made on a rolling basis, after review of existing applications.
                    Grant amounts are based on a combination of the applicants’ assessment of
                    difficulty and the judges assessment of the utility of the proposed
                    integration, difficulty and novelty in illustrating new use cases for
                    annotation.
                    </p>
                    <p class="text-muted text-left">
                    Small grants will be made directly to individuals or small
                    organizations in amounts ranging from <strong>$2k to $10k</strong>
                    depending on the work to be done and other considerations.
                    Funds will be paid 50% upon award and 50% upon completion.
                    </p>
                </div>
            </div>
        </div>
    </section>
