<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Fund</h2>
                    <h3 class="section-subheading text-muted">
                      The Open Annotation standard promises to become a new layer over human knowledge.
                    <br /><br />
                    $50k annually has been contributed by Hypothes.is and other donors,<br /> all as non-profit, charitable donations to make this a reality.
                  </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Need</h4>
                    <p class="text-muted text-left">For annotation to become pervasive,
                    it must be integrated with countless applications,
                    technologies, libraries, products, web sites and more.
                    We must take annotation to the boundaries of the web.
                    <br /><br />
                    In many cases, the projects exist, and the developers are
                    eager to do the work, but schedules and the demands of
                    producing sustainable income prohibits focus on the effort.
                    What's needed is a relatively small amount of funding to
                    facilitate that focus.
                    <br /><br />
                    Grants as small as $2-10k can open up entirely new use
                    cases and integrations with important platforms and
                    libraries.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Solution</h4>
                    <p class="text-muted text-left">We propose a grantmaking process that
                    would solicit and receive proposals to expand the existing
                    universe of open source software that implements or works
                    with the Open Annotation specification. Funds are
                    distributed as grants with only limited
                    obligations.
                    <br /><br />
                    <p class="text-muted text-left">Applications do not need to relate to any particular annotation platform or
technology, but only to generally integrate or provide annotation functionality
and be open source in nature.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Grants</h4>
                    <p class="text-muted text-left">
                    Small grants will be made directly to individuals, or in
                    some cases small organizations (with a 10% overhead
                    limitation), in amounts ranging from $2k to $10k depending
                    on the work to be done and other considerations outlined
                    below. Funds will be paid 50% upfront upon award and 50%
                    upon completion when code and documentation are committed,
                    any necessary pull requests accepted and a summary blog
                    post written.
                    <br /><br />
Awards are made on a rolling basis, after review of existing applications.
Grant amounts are based on a combination of the applicants’ assessment of
difficulty and the judges assessment of the utility of the proposed
integration, difficulty and novelty in illustrating new use cases for
annotation.
</p>
                </div>
            </div>
        </div>
    </section>
