  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <span xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
                    <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
                      <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0" /></a>
                    <a rel="dct:publisher" href="http://hypothes.is/"><span property="dct:title">The Hypothesis Project</span></a>
                    <span property="vcard:Country" datatype="dct:ISO3166"
                          content="US" about="http://hypothes.is/"></span>
                  </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
