<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">a brief history of the Open Annotation Fund</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="empty timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 1, 2014</h4>
                                    <h4 class="subheading">Fund launched</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Open Annotation Fund launched with an announcement on the
                                    <a href="https://hypothes.is/blog/an-open-annotation-fund/">Hypothes.is blog</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="empty timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 6, 2014</h4>
                                    <h4 class="subheading">
                                      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                        Grant: Cross-browser Support
                                      </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">$7,500 went to the <a href="http://www.opengovfoundation.org/">Open Gov Foundation</a> for work by Chris Birk and Bill Hunt for cross-browser support in Annotator.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="empty timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 8, 2015</h4>
                                    <h4 class="subheading">
                                      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        Grant: On-Demand Web Archiving of Annotated Pages
                                      </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                  $3,000 went to Ilya Kreymer for building an
                                  open API for on-demand web archiving.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="empty timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 11, 2015</h4>
                                    <h4 class="subheading">
                                      <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        Grant: Scaling Up Content Analysis
                                      </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                  $9,000 went to Nick Adams and the Text Thresher
  team for adding focused, task oriented content analysis features to
  Annotator.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="empty timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 19, 2015</h4>
                                    <h4 class="subheading">
                                      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                                        Grant: Annotations in Ebooks
                                      </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                  $7,300 went to Fred Chasen and the
FuturePress project for inmproving epub.js integration and EPUB format
selector storage.
</p>
                                </div>
                            </div>
                        </li>

<!--                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <h4><a href="#contact" style="color: white">Submit
                                    <br>Your
                                    <br>Proposal</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
