header {
    background: rgb(96,96,96); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "lato", sans-serif;
}

p {
  font-weight: 300;
  font-size: 1.2em;
}

.list li {
  font-weight: 300;
  font-size: 1.2em;
}

section {
    padding: 5em 0;
}

section#contact {
  background-image: none;
}

.timeline > li .empty.timeline-image {
  width: 2em;
  height: 2em;
  margin-left: -1em;
}

.timeline > li {
  margin-bottom: 0;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    header .intro-text > img {
        margin-bottom: 2em;
    }
}
