html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}
.btn-primary,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active,
.navbar-default .nav li a,
header .intro-text .intro-lead-in,
header .intro-text .intro-heading,
section h3.section-subheading,
#portfolio .portfolio-item .portfolio-caption p,
footer span.copyright,
footer ul.quicklinks,
.portfolio-modal .modal-content p.item-intro {
    font-family: "Lato", sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: white;
}


header {
    padding-top: 4em;
    background: rgb(96,96,96); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

header .intro-text .intro-heading {
    margin-bottom: 0;
}
header .intro-text .text-muted {
    padding-top: 1em;
}

section {
    padding: 5em 0;
}

section#contact {
  background-image: none;
}

p, .list li {
    font-weight: 300;
    font-size: 1.2em;
}

.timeline > li .empty.timeline-image {
  width: 2em;
  height: 2em;
  margin-left: -1em;
}

.timeline > li {
  margin-bottom: 0;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    header .intro-text > img {
        margin-bottom: 2em;
    }
}
